*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100vh;
}

/* -------------------------- */
/* Nav Container */
/* -------------------------- */

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 100;
  padding: 10px 10px 0;
}

.nav-form {
  max-width: 350px;
  height: 50px;
  text-align: left;
}

.nav-button {
  border-radius: 3px;
  height: 80%;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  font-size: 18px;
  padding: 0 15px;
  margin-right: 5px;
}

.nav-input {
  border-radius: 3px;
  height: 75%;
  width: 200px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.1em;
}

.venues-list {
  list-style: none;
  background: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.25em;
  text-align: left;
  padding: 0 10px;
  margin: 0;
  opacity: 0.85;
}

.venues-list:last-child {
  padding-bottom: 10px;
}

.venue-list-item {
  padding-top: 10px;
  border-bottom: 4px solid #fff;
}

.venue-list-item:hover {
  border-color: #6f4e37;
	color: #6f4e37;
	cursor: pointer;
}


/* -------------------------- */
/* Info Window */
/* -------------------------- */

.info-window {
  position: fixed;
  bottom: 20px;
  right: 55px;
  z-index: 100;
  width: 300px;
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.85;
}

.info-window-title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}

.info-window-address {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  line-height: 50%;
}

.source-attribution {
  font-style: italic;
  font-size: 0.8em;
}