*,
*:after,
*:before: {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100vh;
}

/* -------------------------- */
/* LOCATIONS CONTAINER */
/* -------------------------- */

.locations-box {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 100;
  padding: 0 10px;
}

.locations-list {
  list-style: none;
}


/* -------------------------- */
/* INFO WINDOW */
/* -------------------------- */

